<li><%= link_to (image_tag @trainers[1].picture, class: "img img-mini-avatar"), @trainers[1] %></li>
<li><%= link_to (image_tag @trainers[2].picture, class: "img img-mini-avatar"), @trainers[2] %></li>
<li><%= link_to (image_tag @trainers[3].picture, class: "img img-mini-avatar"), @trainers[3] %></li>
<li>
  <div class="box-tools pull-right" id="myBtn">
    <span class="label label-primary"><%= @trainers.size %></span>
  </div>
</li>
